.HowItWorks {
    background: #14161a;
    width: 100%;
    padding: 2em 1em;
    color: #FFF;
    text-align: center;
}

.HowItWorks h3 {
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 1.2em;
}

.HowItWorks-inner {
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
}

.HowItWorks-group {
    width: 30%;
}

.HowItWorks-icon {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    margin: 0 auto 30px;
    background: #fff;
}
