html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}
body {
    margin: 0;
    font: 16px/1 sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    height: 100%;
    /* System Fonts as used by GitHub */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 100%;
    background: #FFF;
}
h1, h2, h3, h4, p, blockquote, figure, ol, ul {
    margin: 0;
    padding: 0;
}
main, li {
    display: block;
}
h1, h2, h3, h4 {
    font-size: inherit;
}
strong {
    font-weight: bold;
}
a, button {
    color: inherit;
    transition: .3s;
}
a {
    text-decoration: none;
}
button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}
::-moz-focus-inner {
    padding: 0;
    border: 0;
}
:focus {
    outline: 0;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
.app-container {    
    width: 100%;
    height: 100%;
}

.HowItWorks {
    background: #14161a;
    width: 100%;
    padding: 3em 1em 3em;
    color: #FFF;
    text-align: center;
    box-sizing: border-box;
}

.HowItWorks h3 {
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 1.2em;
}

.HowItWorks-inner {
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    flex-wrap: wrap;
}

.HowItWorks-group {
    width: 30%;
    min-width: 8em;
    padding-bottom: 2em;
}

.HowItWorks-icon {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    margin: 0 auto 30px;
    position: relative;
    border: 0.3em solid #e73359;
    box-sizing: border-box;
}

.HowItWorks-svg {
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;

}

.HowItWorks-svg-fill {
    fill: #e73359;
}

.Benefits {
    width: 100%;
    padding: 2em 1em;
    color: #FFF;
    background: #111;
    box-sizing: border-box;
}

.Benefits h3 {
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 1.2em;
    text-align: center;
}

.Benefits-inner {
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
}